In [1]:
import tsfresh
import pandas as pd
import numpy as np

In [22]:
np.random.seed(0)
# create an array of 5 dates starting at '2015-02-24', one per minute
rng = pd.date_range('2015-02-24', periods=4, freq='T')

In [23]:
rng

DatetimeIndex(['2015-02-24 00:00:00', '2015-02-24 00:01:00',
               '2015-02-24 00:02:00', '2015-02-24 00:03:00'],
              dtype='datetime64[ns]', freq='T')

In [32]:
df = pd.DataFrame({ "id": [1,2,3,4,5], 'Date': ['2015-02-24 00:00:00', '2015-02-24 00:01:00',"0",'2015-02-24 00:02:00', '2015-02-24 00:03:00'], 'Val1': np.random.randn(5),'Val2': [0,0,0,0,0],'Traget':[1,0,1,1,0] })

In [33]:
print (df)

   id                 Date      Val1  Val2  Traget
0   1  2015-02-24 00:00:00 -0.205158     0       1
1   2  2015-02-24 00:01:00  0.313068     0       0
2   3                    0 -0.854096     0       1
3   4  2015-02-24 00:02:00 -2.552990     0       1
4   5  2015-02-24 00:03:00  0.653619     0       0

In [37]:
fc_parameters = {
    "length": None,
    "large_standard_deviation": [{"r": 0.05}, {"r": 0.1}]
}

In [35]:
from tsfresh import extract_features

extracted_features = extract_features(df, column_id="id", column_sort="Date", default_fc_parameters=fc_parameters)

Feature Extraction: 100%|█████████████████████████████████████████████████████████████████████| 15/15 [00:03<00:00,  4.83it/s]

In [36]:
extracted_features

,Val1__variance_larger_than_standard_deviation,Val1__has_duplicate_max,Val1__has_duplicate_min,Val1__has_duplicate,Val1__sum_values,Val1__abs_energy,Val1__mean_abs_change,Val1__mean_change,Val1__mean_second_derivative_central,Val1__median,...,Traget__fourier_entropy__bins_5,Traget__fourier_entropy__bins_10,Traget__fourier_entropy__bins_100,Traget__permutation_entropy__dimension_3__tau_1,Traget__permutation_entropy__dimension_4__tau_1,Traget__permutation_entropy__dimension_5__tau_1,Traget__permutation_entropy__dimension_6__tau_1,Traget__permutation_entropy__dimension_7__tau_1,Traget__query_similarity_count__query_None__threshold_0.0,Traget__mean_n_absolute_max__number_of_maxima_7
1,0.0,0.0,0.0,0.0,-0.205158,0.042090,NaN,NaN,NaN,-0.205158,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.0,0.0,0.0,0.0,0.313068,0.098011,NaN,NaN,NaN,0.313068,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.0,0.0,0.0,0.0,-0.854096,0.729480,NaN,NaN,NaN,-0.854096,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.0,0.0,0.0,0.0,-2.552990,6.517757,NaN,NaN,NaN,-2.552990,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,0.0,0.0,0.0,0.0,0.653619,0.427217,NaN,NaN,NaN,0.653619,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN